version: '3'

services:
  source_postgres:
    image: postgres:latest
    ports:
      - "5433:5432"
    networks:
      - elt_network
    envitonment:
      - POSTGRES_DB: source_db
      - POSTGRES_USER: postgres
      - POSTGRES_PASSWORD: secret
    # how we persist data when stopping/starting containers; reference is like local:/docker
    volumes: 
      - ./source_db_init/init.sql:/docker-entrypoint-initdb.d/init.sql

  destination_postgres:
    image: postgres:latest
    ports:
      - "5434:5432"
    networks:
      - elt_network
    envitonment:
      - POSTGRES_DB: destination_db
      - POSTGRES_USER: postgres
      - POSTGRES_PASSWORD: secret
    # we don't want to persist this data because we won't know if things are working if the data doesn't vanish when we shut this down.

  elt_script:
    # we'll be using docker compose but some things are easier to run as-needed, so we're building this section out
    build:
      context: ./elt_script # root, but in referene to the docker file
      dockerfile: Dockerfile
    command: ["python", "elt_script.py"]
    networks:
      - elt_network
    depends_on:
      # won't run until these finish initializing, obviously
      - source_postgres
      - destination_postgres

networks:
  elt_network:
    # all the containers will recognize this is the network we want it to talk to
    driver: bridge